body{
    display:inline-block;
    font-family: 'Karla', sans-serif;
    font-size:16px;
    color:white;
    font-weight:700px;
    text-align:left;
    margin:0;
}
h1{
    color:hsl(179, 62%, 43%);
  }
  .upper-part{
      padding:30px;
  }
.upper-part h2 {
  color:hsl(71, 73%, 54%);    
}
.h2 h2 {
    color:hsl(218, 22%, 67%);
    font-size:medium;
    
}
.lp1{
    background-color:hsl(179, 62%, 43%);
    padding:40px;
    position:absolute;
    width:50%;
    height:15rem;


}
.per-month{
    color:hsl(218, 22%, 67%);
}
.lp2{
    background-color:hsl(179, 73%, 43%);
    color:white; 
    position:absolute;
    width:50%;
    left:50%;
    padding:40px;
    height:240px;
    
}
.per-month{
    position:relative;
    bottom:25px;
    left:70px;
}
.dollor{
    font-size:30px;
    position:relative;
    
}
.lp1 h2{
    margin-top:0;}


.btn{
    padding-top:30px;
}
button{
    border:none;
    border-radius:4px;
    color:white;
    font-size:large;
    background-color:hsl(71, 73%, 54%);
    
    width:300px;
    height:50px;
}
.lp1 h3{
    padding-top:0px;
}
.lp2 h2{
    margin:0;
}
@media (max-width:500px){
    
    .lp1{
        position:static;
        width:100%;

    }
    .lp2{
        position:static;
        width:100%;
    }
   
}